@media (max-width: 1120px) {
	.container { width: 100%; }

}

@media (max-width: 800px) {
	#navegacao > ul > li {
		&.menu-mobile {display: inline-block;}
		&.menu-item {display: none;}
	}

	.boxes.col4 .box { width: calc(50% - 30px); }

}


@media (max-width: 640px) {

}

@media (max-width: 430px) {

}


@media (max-width: 370px) {

}