// CORES VARIAVEIS
$cor-padrao: #555;
$fundo: #f4f4f4; // cinza
$cor1: #550000; // marrom
$cor2: #b41218; // vermelho
$cor3: #f16a22; // laranja
$cor4: #faac18; // amarelo

// FAMILIAS VARIAVEIS
$fonte-padrao: "PT Sans",serif;
$fonte-titulo: "Yanone Kaffeesatz",serif;
$fonte-icones: "FontAwesome";


// IMPORTACOES
@import "bourbon/bourbon";
@import "reset";
@import "predefinicoes";
@import "mixins";
@charset "UTF-8";

/****************************************
 ----------------------------------------
 * LAYOUT *
 ----------------------------------------
 ****************************************/
html, body {overflow-x: hidden;}

body {
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.65;
	color: $cor-padrao;
	font-family: $fonte-padrao;
}

.container {
	width: 1120px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


////////////////////////////// CABECALHO
#cabecalho {
	width: 100%;
	
	.barra-superior {
		width: 100%;
		background: $cor1 url('../img/pattern.gif') repeat-x center bottom;
		color: desaturate(lighten($cor4,28%),25%);
		padding: 12px 0 16px;
		font-size: 0.9em;
		
		.container {
			@include flex(space-between);

			a {color: inherit;}

			.redes {
				a {margin-left: 6px;}
			}
		}
	}

	a.marca {
		width: 382px; height: 120px;
		background: url('../img/marca.png') no-repeat center center;
		display: block;
		margin: 45px auto;
	}
}


////////////////////////////// NAV
#navegacao {
	width: 100%;

	ul {
		text-align: center;

		& > li {
			display: inline-block;
			position: relative;
			cursor: pointer;
			border-radius: 5px;
			background: #fff;
			border: 2px solid #fff;

			& > a, .buscaportal {
				display: inline-block;
				color: $cor-padrao;
				padding: 0 15px;
				line-height: 40px;
				font-size: 1em;
				font-weight: 700;
				@extend %uppercase;
				letter-spacing: 0.07em;
			}

			&.current-menu-item {
				a {color: $cor3;}
			}

			&:hover {
				background: $cor1;
				& > a, .buscaportal {color: #fff; text-decoration: none;}
			}

			&:hover .sub-menu {left: -2px; opacity: 1}

			.sub-menu {
				position: absolute;
				top: 37px;
				border-radius: 0 5px 5px 5px;
				left: -9999px;
				z-index: 10;
				background: $cor1;
				border: 2px solid #fff;
				border-top: 0;
				width: auto;
				opacity: 0;
				// @include transition(opacity 0.2s ease-in-out);

				li {
					display: inline-block;
					width: 190px;
					background: transparent;
					text-align: left;

					&:first-child {border: 0;}

					a {
						padding: 10px 16px;
						line-height: 1.4;
						color: #fff;
						display: block;
						text-transform: none;
						font-weight: 400;
						@include transition(color 0.3s ease-in-out);
					}

					&:hover, &.current-menu-item, &.current_page_item {
						& > a {
							color: $cor4;
						}
					}
				}
			}

			.buscaportal {
				.formbusca {
					width: 0px;
					position: relative;
					top: 8px;
					overflow: hidden;
					display: inline-block;
					@include transition(width 0.3s ease-in-out);

					input {
					    margin: 0;
					    background: transparent;
					    border: 0;
					    color: lighten($cor4,15%);
					}

					input[type=submit] {display: none;}
				}

				&:hover .formbusca {width: 270px;}
			}
		}
	}
}


////////////////////////////// SLIDER
#slider {
	width: 100%;
	height: 365px;
	margin: 15px 0 0;

	.container {
		padding: 0;
		height: 365px;
		background: $fundo;
	}
}


////////////////////////////// BUSCA OJS
#buscaojs {
	width: 100%;
	padding: 30px;
	// background: url('../img/pattern.gif') repeat-x center bottom, url('../img/pattern.gif') repeat-x center top, lighten(desaturate($cor4,10%),8%);
	background: lighten(desaturate($cor4,10%),8%);

	&.paginternas {
		background: lighten(desaturate($cor4,10%),8%) url('../img/pattern2.gif') repeat-x center top;
	}

	.container {
		h1 {
			width: 100%;
			text-align: center;
			font-family: $fonte-titulo;
			color: $cor1;
		}

		.formulario {
			width: 100%;
			margin-top: 15px;
			text-align: right;

			form {
				width: 100%;
				input {
					width: 100%;
					margin-top: 0;
					border-radius: 10px;
					border: 4px solid darken($cor4,8%);
					color: $cor-padrao;
					font-size: 1.3em;
					padding: 10px 20px;

					&[type=submit] {display: none;}
				}
			}

			a.avancada {
				display: inline-block;
				
				color: $cor1;
				font-style: italic;
				text-decoration: underline;
			}

		}
	}
}


////////////////////////////// BOXES
.boxes {
	margin-top: 30px;
	margin-bottom: 40px;
	@include flex(center);

	.box {
		margin: 50px 15px 15px;
		background: $fundo;
		border: 1px solid $fundo;
		padding: 50px 15px 15px;
		position: relative;
		@include transition(border-color 0.3s ease-in-out);


		.icone {
			width: 80px;
			height: 80px;
			position: absolute;
			top: -40px;
			left: 50%;
			background: $cor1;
			border-radius: 50%;
			@include transform(translateX(-50%));
			@include transition(background 0.3s ease-in-out);

			i {
				line-height: 80px;
				text-align: center;
				color: #fff;
				font-size: 40px;
				display: block;
			}
		}

		h2 {
			font-size: 1.4em;
			text-align: center;
			display: block;
			margin-bottom: 10px;
		}

		p {margin: 0; text-align: center}

		a {
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 100%;
			display: block;
		}

		&:hover {
			border-color: lighten(desaturate($cor4,10%),8%);
			.icone {background: lighten(desaturate($cor3,10%),4%)}
		}
	}

	&.semicon .box { 
		padding-top: 15px; 

		.icone {display: none;}
	}
	&.col2 .box { width: calc(50% - 30px); }
	&.col3 .box { width: calc(33.33% - 30px); }
	&.col4 .box { width: calc(25% - 30px); }
	&.col5 .box { width: calc(20% - 30px); }
}



////////////////////////////// CONTEUDO INTERNO

#conteudo-interno {
	margin-top: 25px;
	margin-bottom: 25px;

	header {
		background: $cor1;
		position: relative;
		padding: 20px 0 0;

		&:before {
			width: 150vw;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			@include transform(translateX(-50%));
			background: $cor1;
			content: "";
		}

		h1 {
			background: #fff;
			margin-top: 20px;
			display: block;
			text-align: center;
			position: relative;
			padding: 20px;
			border-radius: 5px 5px 0 0;
		}
	}

	article {
		margin: 25px auto ;
		width: 800px;
		max-width: 100%;
	}
}


////////////////////////////// LISTAGEM ARTIGOS
.lista-artigos {
	width: 100%;
	@include flex(center);

	.item {
		width: calc(33.33% - 30px);
		margin: 30px 15px 0;
		position: relative;

		.thumb {
			width: 100%;
			height: 220px;
			margin-bottom: 15px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			@include transition(opacity 0.3s ease-in-out);

			// &.type-page {display: none;}
		}

		h2 {
			font-size: 1.2em;
			@include transition(color 0.3s ease-in-out);
		}

		a {
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 100%;
			display: block;
		}

		&:hover {
			h2 {color: $cor2;}
			.thumb {opacity: 0.8;}
		}

		article {
			margin: 20px 0 0 0 !important;
		}
	}
}


////////////////////////////// BREADCRUMB
.breadcrumb {
	color: desaturate(lighten($cor4,28%),25%);
	position: relative;
	font-size: 11px;
	text-transform: uppercase;
	@extend %letterspacing;

	a {color: inherit; text-decoration: underline; display: inline-block;}

	li {display: inline-block; margin: 0 10px 0 0;}
}

.navegacao-interna {
	width: 100%;
	text-align: center;
	font-size: 11px;
    text-transform: uppercase;
    @extend %letterspacing;
    font-weight: bold;

	li, ul {display: inline-block; list-style-type: none;}
	li {
		&:before {
			content: "|";
			margin: 0 8px;
			display: inline-block;
		}

		a {color: initial;}

		&.current_page_item {
			a {color: $cor2;}

			li a {color: initial;}
		}
	}

	& > li:first-child:before {display: none;}
}


////////////////////////////// RODAPE
#rodapesite {
	background: $cor1 url('../img/pattern.gif') repeat-x center top;
	color: desaturate(lighten($cor4,28%),25%);

	&.paginternas {
		background: $cor1;
	}

	.container {
		padding-top: 20px;
		padding-bottom: 20px;
		@include flex(space-between);
		@include flex-wrap(nowrap);

		& > div {@include align-self(center);}
		
		.info {
			width: 60%;
			h3 {color: inherit;}
			p {margin-bottom: 0;}
		}

		.marcaufg {
			width: 155px;
		}
	}

	.creditos {
		text-align: center;
		padding: 12px 0;
		margin-top: 10px;
		background: darken($cor1,3%);
		font-size: 11px;
		text-transform: uppercase;
		color: transparentize(desaturate(lighten($cor4,28%),25%),0.3);
		@extend %letterspacing;

		a {
			color: inherit;
			text-decoration: underline;
		}
	}
}
		

/****************************************
 ----------------------------------------
 * RESPONSIVO *
 ----------------------------------------
 ****************************************/
@import "responsivo";